[bumpversion]
current_version = 3.0.0.a0
commit = True
tag = False
files = setup.py docs/conf.py wtforms/__init__.py
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+)(?P<n>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{n}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = gamma
values = 
	a
	b
	rc
	gamma

[bumpversion:part:n]

