language: python

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - pypy

install:
  - "pip install -r tests/test_requirements.txt ."

script: "coverage run tests/runtests.py --with-pep8 --force-all"

after_success:
  - pip install coveralls
  - coveralls
