include AUTHORS.txt
include CHANGES.txt
include INSTALL.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
recursive-include docs *
recursive-include tests *
recursive-exclude docs/_build/doctrees *
recursive-exclude tests *.pyc