include AUTHORS.txt
include CHANGES.txt
include INSTALL.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
recursive-include docs *
recursive-include tests *
recursive-exclude docs/_build *
recursive-exclude tests *.pyc
recursive-include wtforms/ext/i18n/messages *
